@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

*{
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(0, 50, 70);
    transition: .3s ease-in-out;
}

.container h1{
    color: white;
    border-bottom: 5px solid white;
}

.container.active{
    background: purple;
}

.container-box{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px rgb(11, 11, 11);
    height: 60vh;
    min-width: 40vw;
}

.container-box-inside{
    display: flex;
    margin: 30px 0;
}

.spans{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 80px;
    height: 20px;
}

span{
    cursor: pointer;
    position: absolute;
    width: 40px;
    height: 10px;
    background: black;
}

.span-1{
    margin: 10px 0;
    transform: rotate(90deg);
    transition: .3s ease-in-out;
}

.span-1.active{
    margin: 10px 0;
    transform: rotate(-130deg);
}

.span-2{
    margin: 10px 0;
    transition: .3s ease-in-out;
}

.span-2.active{
    transform: rotate(130deg);
}

.span-3{
    margin: 10px 0;
    transform: rotate(90deg);
    transition: .3s ease-in-out;
}

.span-3.active{
    margin: 10px 0;
    transform: rotate(-130deg);
}

.span-4{
    margin: 10px 0;
    transition: .3s ease-in-out;
}

.span-4.active{
    transform: rotate(130deg);
}


.container-footer{
    color: white;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-footer a{
    color: white;
}